# Python
*.pyc
*~
__pycache__

# Env
.env 
myvenv/
venv/

# Database
db.sqlite3



._*

.fseventsd
.Spotlight-V100

# VS Code
.vscode/
.history/
*.code-workspace

.DS_Store
**/.DS_Store
*/DS_Store
*.DS_Store
