# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# sc50
/week0/src0
/week1/src1
/week1/c
/c
week1.pdf

/week2/src2
/week2/readability/notes.txt
/week2/readability/pseudocode.txt
/week2/caesar/notes.txt
/week2/caesar/drafts
/week2/caesar/test.c
/week2/caesar/test2.c
/week2/caesar/test-3.c
/week2/caesar/pseudocode.txt
/week2/substitution/notess.txt
/week2/substitution/substitution22.c

/week3/plurality/eleicao.c
/week3/plurality/notes.txt
/week3/plurality/plural.c
/week3/plurality/test.c
/week3/plurality/validate.c
/week3/plurality/Untitled2
/week3/plurality/validate
/week3/plurality/plurality

/week3/runoff/eliminate.c
/week3/runoff/find_min.c
/week3/runoff/is_tie.c
/week3/runoff/notes.txt
/week3/runoff/rank.c
/week3/runoff/runoff
/week3/runoff/tabulate.c
/week3/runoff/tabulateprintwinner.c
/week3/runoff/vote.c
/week3/runoff/winner.c

/week3/tideman/notes.txt




# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

